In [13]:
def celsius_fahrenheit(C):
    #This function converts Celsius to Fahrenheit
    # F = (C*(9./5))+32 = Fahrenheit NOTE: C is room temperature.
    fahrenheit = (C*(9./5))+32
    print(fahrenheit)
    return fahrenheit

In [11]:
celsius_fahrenheit()

TypeError: celsius_fahrenheit() missing 1 required positional argument: 'C'

In [16]:
def celsius_fahrenheit(C):
    #This function converts Celsius to Fahrenheit
    # F = (C*(9./5))+32 = Fahrenheit NOTE: C is room temperature.
    fahrenheit = (C*(9./5))+32
    print(fahrenheit)
    return fahrenheit

In [17]:
celsius_fahrenheit(1000)

1832.0

1832.0

In [18]:
# Fahrenheit to Celsius
# PART ONE   C = (F-32)*(5/9)
# PART TWO   Allow user to specify input fahrenheit
# PART THREE Define a default
def fahrenheit_celsius(F):
    #This function converts Fahrenheit to Celsius
    # celsius = (F-32)*(5./9) = Celsius NOTE: F is user input.
    celsius = (F-32)*(5./9)
    print(celsius)
    return celsius
# PART TWO and PART THREE INCOMPLETE

In [19]:
fahrenheit_celsius(1000)

537.7777777777778

537.7777777777778

In [38]:
import pandas as pd

In [33]:
dem_health_data = pd.read_csv("Dem_Health_Full.txt",sep="\t")

In [22]:
dem_health_data.head(20)

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
0,Autauga,AL,82,10.4,5.9,16.6,3048.0,1867.0
1,Baldwin,AL,102,10.2,7.1,14.3,5471.0,4388.0
2,Barbour,AL,32,22.1,7.1,10.3,1835.0,1538.0
3,Bibb,AL,35,16.8,9.8,14.8,2801.0,2012.0
4,Blount,AL,86,11.9,9.0,14.4,3318.0,2453.0
5,Bullock,AL,18,26.2,13.3,-1111.1,1604.0,1381.0
6,Butler,AL,27,20.0,5.8,11.9,2874.0,2857.0
7,Calhoun,AL,184,16.4,9.5,13.6,4429.0,3915.0
8,Chambers,AL,59,16.2,7.5,12.8,2271.0,2424.0
9,Cherokee,AL,44,15.2,7.4,17.7,2659.0,2609.0
10,Chilton,AL,60,14.9,10.5,13.3,2671.0,2065.0
11,Choctaw,AL,16,18.7,10.8,9.4,2152.0,1742.0
12,Clarke,AL,22,19.2,7.1,8.9,1984.0,1444.0
13,Clay,AL,23,14.0,10.2,11.2,1748.0,1706.0
14,Cleburne,AL,26,14.0,7.0,30.1,1706.0,1540.0
15,Coffee,AL,67,13.7,2.9,13.1,2762.0,2210.0
16,Colbert,AL,92,14.0,8.2,15.1,3166.0,3087.0
17,Conecuh,AL,16,22.0,14.4,13.2,1872.0,1832.0
18,Coosa,AL,17,13.4,13.9,-1111.1,1273.0,1174.0
19,Covington,AL,36,17.5,6.2,10.7,2247.0,2499.0

In [40]:
def get_urban(df):
    urban=df.loc[df['Population_Density'] >= 1000, :]
    # The function urban has brackets that are row,column as [row,column]
    # This example is looking at rows with Density >=1000
    # The : in 2nd part of [,] allows columns not to be considered
    # Outputs as new dataframe (df) 
    return urban

In [44]:
urban_counties = get_urban(dem_health_data)

In [45]:
urban_counties.head()

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
184,Alameda,CA,1964,10.7,4.8,7.6,65423.0,29143.0
190,Contra Costa,CA,1414,7.5,4.0,9.4,39653.0,20836.0
202,Los Angeles,CA,2447,17.7,5.4,7.9,457033.0,181018.0
213,Orange,CA,3785,10.6,4.7,7.6,135702.0,51060.0
217,Sacramento,CA,1412,13.7,5.6,10.9,58592.0,28774.0

In [48]:
def split_county_by_pop(df, threshold):
    urban = df.loc[df['Population_Density'] >= threshold, :]
    rural = df.loc[df['Population_Density'] < threshold, :]
    return [urban,rural]

In [50]:
urban_rural_counties = \
split_county_by_pop(dem_health_data, 500)

In [60]:
# type(urban_rural_counties[0])
urban_rural_counties[0].shape

(235, 8)